*.class*
*build/*
*.gradle/*
*.settings/*
build
*.svn*
gradlew
gradlew.bat
*metadata/*
*.metadata*
*/.gradle/*
*/.settings/*
*.project*
*/bin/*
*.recommenders/*
*eclipse_org*
.recommenders/*
.recommenders/
